<div ng-include="'template/head.php'"></div>


<section class="banner-section">
            <div class="banner-pbox">
                <div class="pbox-thumb  d-none d-lg-block">
                    <a href=""><img src="assets/images/add/1.jpg" alt="add"></a>
                    <span class="popx">X</span>
                </div>
            </div>
            <div class="banner-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="banner-img"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-img banner2"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-img banner3"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-img banner4"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-img banner5"></div>
                    </div>
                </div>
            </div>
            <div class="banner-pagination"></div>
        </section>
        <!-- banner section -->

        <!-- feature prodect section -->
        <section class="feature-product-section sec-pad-100">
            <div class="container">
                <div class="feature-product-wrapper">
                    <div class="feture-product-top">
                        <div class="product-one">
                            <h4>Featured Product</h4>
                        </div>
                        <div class="product-two">
                            <ul>
                                <li><a href="#">New arrival</a></li>
                                <li><a href="#">Hot Sale</a></li>
                                <li><a href="#">Offers</a></li>
                                <li><a href="#">best selling</a></li>
                                <li><a href="#">up coming</a></li>
                            </ul>
                        </div>
                        <div class="product-three">
                            <div class="product-slider-btn-next d-none d-md-block"></div>
                            <div class="product-slider-btn-prev d-none d-md-block"></div>
                        </div>
                    </div>
                    <div class="feture-product-bottom">
                        <div class="feture-product-slider">
                            <div class="swiper-wrapper" >
                                <div class="swiper-slide">
                                    <div class="feature-product-item">
                                        <div class="feature-product-item-inner">
                                            <div class="feature-product-thumb">
                                                <a href="#"><img src="assets/images/feature/1.jpg" alt="F-product"></a>
                                                <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                                <div class="offer">offer</div>
                                                <div class="new">new</div>
                                            </div>
                                            <div class="feature-product-content">
                                                <h6><a href="#">Bioaqua body protection</a></h6>
                                                <span>Price: 1,350 TK</span>
                                                <span><del>৳1,950.00</del></span>
                                            </div>
                                            <div class="wishtobag">
                                                <a href="#"><i class="fas fa-shopping-bag"></i> Add to bag</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="feature-product-item">
                                        <div class="feature-product-item-inner">
                                            <div class="feature-product-thumb">
                                                <a href="#"><img src="assets/images/feature/2.jpg" alt="F-product"></a>
                                                <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                                <div class="offer">offer</div>
                                            </div>
                                            <div class="feature-product-content">
                                                <h6><a href="#">Bioaqua body protection</a></h6>
                                                <span>Price: 350 TK</span>
                                            </div>
                                            <div class="wishtobag">
                                                <a href="#"><i class="fas fa-shopping-bag"></i> Add to bag</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="feature-product-item">
                                        <div class="feature-product-item-inner">
                                            <div class="feature-product-thumb">
                                                <a href="#"><img src="assets/images/feature/3.jpg" alt="F-product"></a>
                                                <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                                <div class="new">new</div>
                                            </div>
                                            <div class="feature-product-content">
                                                <h6><a href="#">Bioaqua body protection</a></h6>
                                                <span>Price: 350 TK</span>
                                            </div>
                                            <div class="wishtobag">
                                                <a href="#"><i class="fas fa-shopping-bag"></i> Add to bag</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="feature-product-item">
                                        <div class="feature-product-item-inner">
                                            <div class="feature-product-thumb">
                                                <a href="#"><img src="assets/images/feature/4.jpg" alt="F-product"></a>
                                                <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                            </div>
                                            <div class="feature-product-content">
                                                <h6><a href="#">Bioaqua body protection</a></h6>
                                                <span>Price: 350 TK</span>
                                            </div>
                                            <div class="wishtobag">
                                                <a href="#"><i class="fas fa-shopping-bag"></i> Add to bag</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- feature prodect section -->

        <!-- feature section -->
        <section class="feature-section sec-pad-100" ng-init="ctgelectronics()">
            <div class="container">
                <div class="feature-wrapper">
                    <div class="feature-sidebar">
                        <div class="fs-title">
                            <h4>mac</h4>
                        </div>
                        <div class="fs-content">
                            <ul>
                                <li><a href="#">Nail Polish </a></li>
                                <li><a href="#">Eyeliner </a></li>
                                <li><a href="#">Liquid Lipstick </a></li>
                                <li><a href="#">Eyeshadow  </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="feature-mainbar">
                        <div class="feature-item" ng-repeat="pd in producte">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/1.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/1.jpg" alt="feature"></a>
                                    <a href="#!quickview/{{pd.xitemid}}" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                    <div class="offer">offer</div>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#!quickview/{{pd.xitemid}}">{{pd.name}}</a></h5>
                                    <span>৳ {{pd.xmrp}}</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="" ng-click="add(pd.xitemid,1,pd.xdesc,pd.xitemcode+'.jpg',pd.xmrp,pd.xstdprice,pd.xitemcode,pd.xsource,pd.xdp)" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- feature section -->

        <!-- feature section -->
        <section class="feature-section feature-style2 sec-pad-100" ng-init="ctgoa()">
            <div class="container">
                <div class="feature-wrapper">
                    <div class="feature-sidebar">
                        <div class="fs-title">
                            <h4>KARA</h4>
                        </div>
                        <div class="fs-content">
                            <ul>
                                <li><a href="#">Nail Polish </a></li>
                                <li><a href="#">Eyeliner </a></li>
                                <li><a href="#">Liquid Lipstick </a></li>
                                <li><a href="#">Eyeshadow  </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="feature-mainbar">
                        <div class="feature-item" ng-repeat="pd in productoa">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/1.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/1.jpg" alt="feature"></a>
                                    <a href="#!quickview/{{pd.xitemid}}" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#!quickview/{{pd.xitemid}}">{{pd.name}}</a></h5>
                                    <span>৳ {{pd.xmrp}}</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="" ng-click="add(pd.xitemid,1,pd.xdesc,pd.xitemcode+'.jpg',pd.xmrp,pd.xstdprice,pd.xitemcode,pd.xsource,pd.xdp)" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- feature section -->

        <!-- feature section -->
        <section class="feature-section sec-pad-100">
            <div class="container">
                <div class="feature-wrapper">
                    <div class="feature-sidebar">
                        <div class="fs-title">
                            <h4>mac</h4>
                        </div>
                        <div class="fs-content">
                            <ul>
                                <li><a href="#">Nail Polish </a></li>
                                <li><a href="#">Eyeliner </a></li>
                                <li><a href="#">Liquid Lipstick </a></li>
                                <li><a href="#">Eyeshadow  </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="feature-mainbar">
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/1.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/1.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                    <div class="offer">offer</div>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,550.00</span>
                                    <span><del>৳1,950.00</del></span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/2.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/2.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                    <div class="new">new</div>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,950.00</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/3.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/3.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,950.00</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                   <a href="assets/images/feature/4.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/4.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                    <div class="offer">offer</div>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,950.00</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/5.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/5.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,950.00</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/1.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/1.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                    <div class="offer">offer</div>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,950.00</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/5.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/5.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,950.00</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/1.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/1.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                    <div class="offer">offer</div>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,950.00</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- feature section -->

        <!-- feature section -->
        <section class="feature-section feature-style2 sec-pad-100">
            <div class="container">
                <div class="feature-wrapper">
                    <div class="feature-sidebar">
                        <div class="fs-title">
                            <h4>KARA</h4>
                        </div>
                        <div class="fs-content">
                            <ul>
                                <li><a href="#">Nail Polish </a></li>
                                <li><a href="#">Eyeliner </a></li>
                                <li><a href="#">Liquid Lipstick </a></li>
                                <li><a href="#">Eyeshadow  </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="feature-mainbar">
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/1.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/1.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,950.00</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/2.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/2.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,950.00</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/3.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/3.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,950.00</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/4.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/4.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,950.00</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/5.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/5.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,950.00</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/1.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/1.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,950.00</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/5.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/5.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,950.00</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-item-inner">
                                <div class="feature-thumb">
                                    <a href="assets/images/feature/1.jpg" data-rel="lightcase:myCollection"><img src="assets/images/feature/1.jpg" alt="feature"></a>
                                    <a href="#" class="quickview"><i class="far fa-eye"></i> Quick View</a>
                                </div>
                                <div class="feature-content">
                                    <h5><a href="#">BioaquaHorse Oil Ointment</a></h5>
                                    <span>৳1,950.00</span>
                                </div>
                                <div class="product-inner">
                                    <ul class="product-button">
                                        <li><a href="shop_single.html" class="custom-btn"><i class="fas fa-shopping-bag"></i>add to bag</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- feature section -->

        <!-- blog section -->
        <section class="blog-section sec-pad-100">
            <div class="container">
                <div class="section-heading">
                    <h2>our blog</h2>
                    <p>Dynamically Disseminate Timely Results Without Errorfree Testing Procdures. Globlycetaize Highble Competently Deliver Cross</p>
                </div>
                <div class="section-wrapper">
                    <div class="post-item">
                        <div class="post-item-inner">
                            <div class="post-thumb">
                                <a href=""><img src="assets/images/feature/1.jpg" alt="blog"></a>
                            </div>
                            <div class="post-content">
                                <h4><a href="#">Beauty Looks</a></h4>
                                <p>Dynamically Disseminate Timely Results Without Errorfree Testing Procdures. Results Without Errorfree Testing Procdures.</p>
                                <a href="#" class="custom-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-item">
                        <div class="post-item-inner">
                            <div class="post-thumb">
                                <a href=""><img src="assets/images/feature/2.jpg" alt="blog"></a>
                            </div>
                            <div class="post-content">
                                <h4><a href="#">Trending Looks</a></h4>
                                <p>Dynamically Disseminate Timely Results Without Errorfree Testing Procdures. Results Without Errorfree Testing Procdures.</p>
                                <a href="#" class="custom-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-item">
                        <div class="post-item-inner">
                            <div class="post-thumb">
                                <a href=""><img src="assets/images/feature/3.jpg" alt="blog"></a>
                            </div>
                            <div class="post-content">
                                <h4><a href="#">Style Divas</a></h4>
                                <p>Dynamically Disseminate Timely Results Without Errorfree Testing Procdures. Results Without Errorfree Testing Procdures.</p>
                                <a href="#" class="custom-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog section -->

        <!-- sponser section -->
        <section class="sponser-section sec-pad-100">
            <div class="container">
                <div class="sponser-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#"><img src="assets/images/sponser/1.png" alt="sponser"></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="assets/images/sponser/2.png" alt="sponser"></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="assets/images/sponser/3.png" alt="sponser"></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="assets/images/sponser/4.png" alt="sponser"></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="assets/images/sponser/5.png" alt="sponser"></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="assets/images/sponser/6.png" alt="sponser"></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="assets/images/sponser/7.png" alt="sponser"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sponser-slider-btn-next d-none d-lg-block"><i class="fas fa-angle-left"></i></div>
            <div class="sponser-slider-btn-prev d-none d-lg-block"><i class="fas fa-angle-right"></i></div>
        </section>
        <!-- sponser section -->

        <!-- newsleater section -->
        <section class="newsleater-section sec-pad-100">
            <div class="container">
                <div class="section-heading">
                    <h2>Ready to get started?</h2>
                    <p>Dynamically Disseminate Timely Results Without Errorfree Testing Procdures. Globlycetaize Highble Competently Deliver Cross</p>
                </div>
                <div class="Wrapper-section">
                    <div class="recent-news">
                        <input type="text" name="text" placeholder="Your E- Mail Address">
                        <a href="#">subscribe</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end newsleater section -->

        <div ng-include="'template/footer.php'"></div>